.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(181, 70, 252, 1) 100%
  );
  min-height: 100vh;
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
  padding: 16px;
}

.App-link {
  color: #61dafb;
}

h1,
li {
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.container th {
  text-align: start;
}

.container tr {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  text-align: start;
  gap: 16px;
}

.container tbody {
  font-size: 1.5rem;
}

.container td {
  display: flex;
  flex-direction: column;
}

.container .grid td:nth-child(5) {
  grid-column-start: 5;
}

.upper-data-border {
  margin-top: 16px;
  border-bottom: 1px solid white;
}

.container .grid.data {
  width: fit-content;
  margin-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid white;
}

tbody tr:nth-child(2).grid.data {
  margin-top: 16px;
  padding-top: 8px;
  border-top: 1px solid white;
}

.form {
  display: contents;
}

input.input1 {
  height: 50px;
  font-size: 14pt;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.button1 {
  display: inline-block;
  min-width: 160px;
  min-height: 52px;
  padding: 0 1em;
  border: 0.1em solid #ffffff;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #ffffff;
  background-color: transparent;
  text-align: center;
  transition: all 0.2s;
}

button.button1:enabled:hover {
  color: #000000;
  background-color: #ffffff;
}

button.button1:active {
  color: #000000;
  background-color: #ffffffd0;
  box-shadow: 5px 5px rgba(255, 255, 255, 0.2);
}

button.button1:disabled {
  border: 0.1em solid #9e9e9e;
  color: #9e9e9e;
}

@media all and (max-width: 30em) {
  a.button1 {
    display: block;
    margin: 0.4em auto;
  }
}

@media all and (max-width: 1230px) {
  .App {
    width: max-content;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
